

.movie-list li {
  list-style-type: none;
  /* display: inline-block; */
  margin: 10px;
  padding: 10px;
  display: block;
}

.movie-item span {
  font-weight: bold;
}

#watched-movie {
  color: red;
  text-decoration: line-through;
}
